@charset "UTF-8";

body {
    color: #000628;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
    font-size: 18px;
    background-image: url(bokeh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    width: 768px;
    height: auto;
    background-color: rgba(255,255,255,1.00);
    text-align: left;
	margin: auto;
	
}


header {
    width: 768px;
    height: 250px;
    background-image: url(header.jpg);            
}
/*Float the Main so it shows up next to the Aside. Reduce with by 150px so they both line up with header.*/
main {
    height: 1700px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
    width: 598px;
}
/*Clear the float so the footer shows up in the right place again.*/
footer {
    width: 768px;
    height: 50px;
    clear: both;
    background-color: #646464;

}

/*Float the Aside so it displays next to Main */
aside {
    width: 150px;
    height: 1700px;
    float: left;
    background-color: #646464;
}

h1 {
    color: #6BE7FF;
    font-family: "politica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
}
p {
    font-family: "canada-type-gibson", sans-serif;
font-weight: 400;
font-style: normal;
}
	h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
img {
    float: right;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.floatLeft {
    float: left;
}
article {
    margin-bottom: 50px;
}
nav {
    width: 768px;
    height: 50px;
}
#container nav li {
    list-style-type: none;
    float: left;
    margin: 0px 60px 0px 0px;
    width: 80px;
    font-family: neonoir, sans-serif;
    font-size: 18pt;
    display: block;
}
#container nav ul {
    margin: auto;
    width: 565px;
}
body,td,th {
    forifont-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-se
}
nav a:link {
    color: #6BE7FF;
    text-decoration: none;
    padding: 10px;
}
nav a:visited {
    text-decoration: none;
    color: #3D035B;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color:#6BE7FF;
    border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #030303;
}
.submit_btn {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: #6BE7FF;
    color: #FFFFFF;
    font-size: 16px;
}

.submit_btn:hover {
    -webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
}
